
.heading {

  background-color: var(--second-color);
  color: var(--second-text-color);
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Header_img_mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
    @media screen and (max-width: 1199px) {
      padding-top: 118px;
      padding-bottom: 118px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Header_img_mobile_@2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    }

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Header_img_tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Header_img_tablet_@2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    }
    }
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Header_img_desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Header_img_desktop_@2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    }

  & .container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
&__title {
    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: 1.62;
      letter-spacing: 0.06em;
      text-align: center;
      width: 365px;
    }
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
  width: 696px;
}
&__btn {
  background-color: var(--point-color);
  color: var(--second-text-color);
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  letter-spacing: 0.06em;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
&:hover,
&:focus {
  background-color: var(--main-color);
  color: var(--point-color);
}
}
}




