.project {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;

@media screen and (max-width: 767px) {
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  justify-content: flex-start;
}
  
&__item {
  flex-basis: calc((100% - 60px) / 3);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;

  
&:hover,
&:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
&:hover .box-overlay {
  transform: translateY(0);
}


}

&__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 4px;
  margin-left: 24px;
}
&__copy {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  color: var(--third-text-color);
  margin-left: 24px;
}
&__img {
  display: block;@media screen and (min-width: 768px) and (max-width: 1199px) {
  width: 354px;
}
  
}
&__title {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
}
&__overlay {
  position: relative;
  overflow: hidden;
}
}
.box-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 49px 45px 49px 24px;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
&__copy {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin: 0;
}
}
